<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>Pipes</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
<Floats>
    <string>Bottles</string>
    <string>FubuCore</string>
    <string>FubuLocalization</string>
    <string>FubuMVC.Core</string>
    <string>FubuMVC.Core.Assets</string>
    <string>FubuMVC.Core.UI</string>
    <string>FubuMVC.Core.View</string>
    <string>FubuMVC.Diagnostics</string>
    <string>FubuMVC.JQueryUI</string>
    <string>FubuMVC.Media</string>
    <string>FubuMVC.Navigation</string>
    <string>FubuMVC.References</string>
    <string>FubuMVC.SlickGrid</string>
    <string>FubuMVC.Spark</string>
    <string>FubuMVC.StructureMap</string>
    <string>FubuMVC.TwitterBootstrap</string>
    <string>HtmlTags</string>
  </Floats>
</ripple>